{% extends 'base.html' %} {% block head %}
<style>
    #images {
        display: flex;
        flex-direction: row;
    }
    
    #image {
        width: 380px;
        height: 380px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
    
    #description {
        overflow: hidden;
        text-overflow: ellipsis;
        height: 80px;
    }
</style>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
<!--<link href="static/css/display.css" rel="stylesheet">-->
{% endblock %} {% block content %}
<div class="container col-lg-12" style="background-image: url(static/img/background_plus.jpg); top:0px; height:550px">
    <div class="logotxt">
        <h1 class="text-light" style="text-align:center;vertical-align:middle">
            <br><br><br><br><span style="font-size:180%;font-weight:bold;font-family:sans-serif;color:rgb(236, 132, 13);">RUC Shopping System</span>
        </h1>
    </div>
</div>

<body>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-danger" style="background-color: bisque">
        <!-- <a class="navbar-brand">
            <img src="https://d33wubrfki0l68.cloudfront.net/67a4995f0d6ce4e69f8ca496de0ee0d2832e9385/29a04/assets/img/logo_rocket.png" height="35" alt="Propulso"></a>
        <a class="navbar-brand" href="/">Shopping More</a> -->
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/ranking/sales">按销量排序</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/ranking/price">按价格排序</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/ranking/inventory">按库存排序</a>
                </li>
            </ul>
            <!-- <form class="form-inline mr-4 my-3 my-lg-0"> -->
            <form action="http://127.0.0.1:5000/price" method="POST" autocomplete="on">
                <div class="form-inline mr-4 my-3 my-lg-0">
                    <p>
                        <p type="submit" class="btn btn-outline-warning my-2 my-sm-0" value="Search">价格搜索：</p>
                        &nbsp;
                        <input class="form-control mr-sm-2 my-2 my-sm-0" type="text" name="price_down" id="price_down" placeholder="请输入价格搜索下限" />
                        <input class="form-control mr-sm-2 my-2 my-sm-0" type="text" name="price_up" id="price_up" placeholder="请输入价格搜索上限" />
                        <input type="submit" class="btn btn-outline-warning my-2 my-sm-0" value="Search" />
                    </p>
                </div>
            </form>
        </div>
    </nav>
</body>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for data in itemData %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <!--<svg class="bd-placeholder-img card-img-top" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">-->
                    <!--<title>Placeholder</title>-->
                    <!--</svg>-->
                    <img src={{url_for( 'static', filename=data[4]) }} id="itemImage" class="cart-img-top" height="350" weight="200" />
                    <div class="card-body">
                        <a href='/goods/{{data[0]}}?goods_id={{data[0]}}'>
                            <h4 class="card-text text-danger">
                                {{data[1]}}
                            </h4>
                        </a>
                        <div id="description">
                            <p class="card-text text-muted">{{data[3]}}</p>
                        </div>
                        <h6 class="card-text text-muted">Stock: {{data[5]}}</h6>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-danger" href="/addToCart?goods_id={{data[0]}}">Add to Cart</a>
                            </div>
                            <p class="text-danger" style="font-size:150%">￥{{data[2]}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
<!--<rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>-->